.box {
    h1:nth-of-type(2n-1) {
        color: antiquewhite;
        background-color: aqua;
    }

    h1:nth-of-type(2n) {
        color: antiquewhite;
        background-color: aquamarine;
    }
}